.header{
    background-image: url("images/3-fruit.jpg");
    height: 250px;
    background-size: cover;
}

.site-id{
    text-align: center;
    background-color: rgba(255, 255, 255, 50%);
    border-top: 4px solid rgb(151, 6, 6);
    padding: 15px;
}